.Dashboard-main{
    width: 100%;
    min-height:100vh;
    margin-top: 6.5vh;
    padding: 2vh 8vw;
}

.Dashboard-main nav{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
}

.Dm-left{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0.5vh 0vw;
}

.Dm-left h1{
    font-size: 4vh;
    font-weight: 900;
}

.Dm-left h5{
    font-size: 2vh;
    font-weight: 700;
}
.Dm-right{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0.5vh 0vw;
}

.Dm-right button{
    font-size: 2.2vh;
    padding: 1.5vh 0.2vw;
    background-color: #e93030;
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    border-radius: 2px;
    position: relative;
    display: flex;
    height: 6vh;
    min-width: 11vw;
    gap: 1.5vh;
    font-weight: 900;
}

.Dm-right button img{
    width: 11%;
    height: 70%;
    filter: invert(1) brightness(0.9) saturate(10000%);
    object-fit: cover;
    margin-left: 1vh;
    margin-top: 0.5vh;

}

.Separator{
    width: 100%;
    height: 1px;
    background-color: rgb(0, 0, 0);
}

.Stats{
    width: 100%;
    height: 25vh;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2vh 0vw;
}

.Stat{
    width: 32%;
    height: 100%;
    padding: 0.5vh 0.8vw;
    /* background-color: azure; */
    border: 1.5px solid black;
    border-radius: 5px;

}

.Stat img{
    width: 5vh;
    height: 5vh;
    margin-left: 0vh;
    margin-top: 1vh;
    margin-bottom: 3vh;
    object-fit: cover;
    filter: brightness(0) saturate(10000%);
    border-radius: 5px;
}

.Stat h2{
    font-size: 2.5vh;
    font-weight: 600;
    color: rgb(40, 40, 40);
    margin-left: 0.5vh;
}

.Stat h1{
    font-size: 5vh;
    font-weight: 600;
    color: rgb(40, 40, 40);
    margin-left: 0.5vh;
}

.Data-table{
    width: 100%;
    min-height: 50vh;
    height: auto;
    border: 1px solid black;
    border-radius: 5px;
    padding: 1vh 0.5vh;
}

.Data-table .Dt-header{
    font-size: 3.5vh;
    display: flex;
    font-weight: 900;
    text-align: center;
    padding-bottom: 1vh;
    border-bottom: 1px solid black;
}

.Data-table .Dt-header .cell{
    width: 10vw;
    text-align: center;
}

.Data-table .Dt-header .cell:nth-child(2){
    width: 27vw;
}

.Data-table .Dt-header .cell:nth-child(3){
    width: 14.5vw;
}

.Data-table .Dt-header .cell:nth-child(4){
    width: 15vw;
}

.Video-data{
    width: 100%;
    height: 7vh;
    padding: 0.5vh 0.5vw;
    display: grid;
    grid-template-columns: 12% 40% 18% 20% 10% ;
}

.video-status{
    /* background: #000; */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-detail{
    /* background: #000; */
    width: 100%;
    height: 100%;
    display: flex;
    gap: 2vh;
    align-items: center;
}

.video-detail img{
    height: 5vh;
}

.video-status-ok{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color:#09721b ;
}

.video-status{
    /* background: #000; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color:#8a1c03 ;
}

.video-ratings{
    /* background: #000; */
    width: 50%;
    height: 100%;
    display: flex;
    justify-content:flex-start;
    align-items: center;
}

.likes{
    height: 5vh;
    padding:0 2vh;
    background-color: #80de905c;
    color: rgb(3, 1, 1);
    display: flex;
    justify-items: center;
    align-items: center;
    border-radius: 20px;
}

.date{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 2.5vh;
    font-weight: 900;
    padding-left:2vh;
    margin-left: -5vw;
}

.fuxnBtns{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.toggleBtn{
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toggleBtn img{
    width: 30%;
    height: 60%;
    object-fit: cover;
}

.deleteBtn{
    width: 65%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.deleteBtn:hover{
    background-color: rgba(0, 0, 0, 0.085);
}

.deleteBtn:active{
    background-color: rgba(0, 0, 0, 0.118);
}


.deleteBtn img{
    width: 60%;
    height: 60%;
}

.editBtn{
    width: 65%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.editBtn:hover{
    background-color: rgba(0, 0, 0, 0.085);
}

.editBtn:active{
    background-color: rgba(0, 0, 0, 0.118);
}

.editBtn img{
    width: 55%;
    height: 60%;
}

.V-edit-main{
    width: 50vw;
    height:60vh;
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fffefe;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:1vh 2vh ;
}

.V-edit-main h1{
    font-size: 4vh;
    font-weight: 900;
    width: 100%;
    height: 10%;
}

.V-edit-files{
    display: none;
}

.V-edit-main form{
    width: 100%;
    height: auto;
    display: flex;
    height: 90%;
    gap: 1vh;

}

.V-edit-thumbnail{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.V-edit-thumbnail textarea{
    width: 80%;
    resize: vertical;
    max-height: 40%;
    height: fit-content;
    padding: 1vh 0.5vh;
    margin-top: 3vh;
    font-size: 2vh;
    background-color: none;
    border-radius:5px;
    border: 1px solid #000;
}

.V-edit-thumbnail-holder{
    width: 100%;
    height: 50%;
    border-radius: 10px;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.V-edit-thumbnail-holder img{
    width: 40%;
    height: 80%;
    object-fit: cover;
}

.V-edit-thumbnail-holder img.V-edit-imgAchieved{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;

}

.V-edit-form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.V-edit-form textarea{
    width: 100%;
    height: 85%;
    resize: none;
    padding: 1vh 0.5vh;
    margin-bottom: 3vh;
    font-size: 2vh;
    background-color: none;
    border-radius:5px;
    border: 1px solid #000;
}

.V-edit-btn{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2.5vh;
}

.V-edit-btn button{
    width: 30%;
    height: 99%;
    font-size: 2vh;
    font-weight: 600;
    color: #010101;
    border: 1px solid #333;
    border-radius: 40px;
    cursor: pointer;
}

.V-edit-btn button.V-edit-btn-submit{
    width: 33%;
    height: 100%;
    font-size: 2vh;
    font-weight: 600;
    color: #ececec;
    border:none;
    border-radius: 40px;
    cursor: pointer;
    background-color: #333;
}

