.header-main {
  max-width: 100%;
  width: 100%;
  height: 7vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vh 0vw;
  backdrop-filter: blur(5px);
}

.header-title{
  width: 100%;
  height: auto;
  font-weight: 700;
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.header-title span{
  font-size: 1rem;
  margin-top: 1vh;
  margin-left: 0.5vw;
  color: rgba(0, 0, 0, 0.333);
}

.header-list{
  width: 100%;
  height: auto;
  font-weight: 700;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-list-ul{
  width: 100%;
  height: auto;
  font-weight: 500;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:5vw;
}

.header-list-ul-li{
  color:rgb(65, 65, 65);
}

.header-auth{
  width: 100%;
  height: 100%;
  font-weight: 500;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 1vw;
}

.header-auth-login{
  width: fit-content;
  height: 100%;
  background-color: rgb(43, 19, 10);
  padding: 0 2vw;
  color: #fffefe;
  border-radius: 100vw;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  z-index: 101;

}

.header-auth-login:hover{
  color: rgb(43, 19, 10);
  border:none;
}

.header-auth-login::after{
  content: '';
  width: 100%;
  height: 100%;
  background-color: #fffefe;
  position: absolute;
  border-radius: 100vw;
  border: none;
  left: 0;
  top: 100%;
  z-index: -1;
}

.header-auth-login:hover::after{
  top: 0%;
  left: 0;
  transition: top 0.3s ease-in-out;
}

.header-auth-signup{
  width: fit-content;
  height: 100%;
  background-color: none;
  padding: 0 2vw;
  color: black;
  border: 1px solid  rgb(43, 19, 10);
  border-radius: 100vw;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  z-index: 101;
}

.header-auth-signup:hover{
  color: #fffefe;
}

.header-auth-signup::after{
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgb(43, 19, 10);
  position: absolute;
  border-radius: 100vw;
  left: 0;
  top: 100%;
  z-index: -1;
}

.header-auth-signup:hover::after{
  top: 0%;
  left: 0;
  transition: top 0.3s ease-in-out;
}

@media screen and (max-width: 600px) {
  
  .header-list{
   display: none;
  }

  .header-auth-login{
    padding: 0 5vw;
  }
  
  .header-auth-signup{
    padding: 0 5vw;
  }
}