.updateCommentBox {
    width: 40vw;
    min-height: 10vh;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fffefe;
    padding: 2vh 1vw;
    border-radius: 10px;
    position: relative;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
  }
  
  .updateCommentBox h2 {
    font-size: 3vh;
    font-weight: 600;
  }
  
  .updateCommentBox form {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .updateCommentBox form textarea {
    width: 100%;
    border: 1px solid #cfcfcf;
    height: 20vh;
    border-radius: 1rem;
    outline: none;
    resize: none;
    background-color: #ececec;
    font-weight: 500;
    font-size: 2vh;
    padding: 1vh;
  }
  
  
  .deleteBox {
    width: 40vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fffefe;
    padding: 2vh 2vh;
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);

  }
  
 .modal-close {
    width:2vw;
    height: auto;
    aspect-ratio: 1/1;
    display: flex;
    position: fixed;
    top: 1vh;
    right: 1vh;
    justify-content: center;
    align-items: center;
    margin-bottom: 2vh;
    font-weight: 500;
  }
  
.modal-close .icon{
    width: 70%;
    height: 70%;
    color: #636363;
  }
  
  .deleteBox .deleteBox-head {
    width:4vw;
    height: auto;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2vh;
    font-weight: 500;
  }
  
  .deleteBox .deleteBox-head .icon{
    width: 70%;
    height: 70%;
    color: #636363;
  }
  
  .deleteBox p {
    font-size: 1.2rem;
    text-align: center;
    width: 80%;
    font-weight: 500;
    color: #636363;
  }
  
  .btn {
    width: 100%;
    height: fit-content;
    margin-top: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vh;
    /* margin-bottom: 1vh; */
  }
  
  .btn button {
    border: none;
    outline: none;
    border-radius: 40px;
    background-color: #271212;
    color: #ececec;
    font-size: 2vh;
    padding: 1.5vh 3vh;
    font-weight: 500;
  }
  
  .btn button.cancel {
    background-color: #cfcfcf;
    color: #271212;
    font-size: 2vh;
    padding: 1.5vh 3vh;
    font-weight: 500;
  }
  

  @media screen and (max-width:600px) {
    .updateCommentBox {
      width: 90vw;
      min-height: 20vh;
    }
    
    .updateCommentBox h2 {
      font-size: 1.5rem;
    }
    
    .updateCommentBox form {
      width: 100%;
      display: flex;
      flex-direction: column;
    }
    
    .updateCommentBox form textarea {
      height: 25vh;
    }
    
    .deleteBox {
      width: 90vw;
    }
    

    .deleteBox .deleteBox-head {
      width:14vw;
    }
    
    .deleteBox .deleteBox-head .icon{
      width: 70%;
      height: 70%;
      color: #636363;
    }
    
    .deleteBox p {
      font-size: 1.2rem;
      text-align: center;
      width: 80%;
      font-weight: 500;
      color: #636363;
    }
    
    .btn {
      width: 100%;
      height: fit-content;
      margin-top: 3vh;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2vh;
      /* margin-bottom: 1vh; */
    }
    
    .btn button {
      border: none;
      outline: none;
      border-radius: 40px;
      background-color: #271212;
      color: #ececec;
      font-size: 2vh;
      padding: 1.3vh 5vw;
      font-weight: 500;
    }
    
    .btn button.cancel {
      background-color: #cfcfcf;
      color: #271212;
      font-size: 2vh;
      font-weight: 500;
      padding: 1.3vh 5vw;

    }

    .modal-close {
      width:2rem;
    }
    
  .modal-close .icon{
      width: 70%;
      height: 70%;
      color: #636363;
    }
    
    
    
  }