.PopupHolder{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: rgba(217, 201, 201, 0.227);
    backdrop-filter: blur(1px);
    opacity: 1;
}

