.profileMain{
    width: 100%;
    min-height: 100%;
    position: relative;
    /* background: #000; */
    padding: 1vh 0vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.coverImageContainer{
    background-color: #000;
    width: 100%;
    aspect-ratio: 2560/256;
    border-radius: 10px;
    overflow: hidden;
}

.coverImageContainer img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profileDataContainer{
    /* background: #ff0000; */
    width: 100%;
    height: 24vh;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.profileImage{
    aspect-ratio: 1/1;
    height: 100%;
    position: relative;
    padding: 1vh;
}

.profileImageHolder{
    width: 100%;
    height: 100%;
}

.profileImage img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.profileDetail{
    width: 100%;
    height: fit-content;
    padding: 0.2vh 0.5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

}
.profileDetail h2{
    font-size: 2rem;
    color: #000000;
    font-weight: 700;
}

.profileDetail h3{
    font-size: 1rem;
    color: #232323;
    margin-top: -0.5vh;
    margin-bottom: 1vh;
    font-weight: 600;
}

.profileStats{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2vw;
    font-size: 1.5rem;
}

.profileubscribeButton{
    width: 100%;
    height: fit-content;
    gap: 1vw;
    display: flex;
    justify-content: start;
    align-items: start;
    margin-top: 0.2vh;
}

.profileubscribeButton button{
    background-color: #333;
    color: #ededed;
    font-weight: 500;
    outline: none;
    border: none;
    border-radius: 30px;
    font-size: 1.2rem;
    line-height: 2.1vh;
    padding: 0.6rem 2rem;
    text-align: center;
    cursor: pointer;
}

.profileubscribeButton button.subscribed{
    background-color: #b0acac;
    color: #1d1c1c;
}

.profileubscribeButton button.dashboard{
    background-color: #251616;
    color: #fdf5f5;
    font-weight: 500;
    outline: none;
    border: none;
    border-radius: 30px;
    font-size: 1.2rem;
    line-height: 2.1vh;
    padding: 0.6rem 2rem;
    text-align: center;
    cursor: pointer;
}

.dashboard:active{
    scale: 0.95;
}

.profilePageList{
    width: 100%;
    height: auto;
    padding: 0;
    border-bottom: 1.5px solid #000;
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    gap: 2vh;
}

.profilePageList li{
    padding: 1vh 0;

}

.profilePageList li:hover{
    border-bottom: 2px solid #1f1f1f87;
}


.profilePageList li.active {
    border-bottom: 2px solid #000;
    font-weight: bold;
  }

 .TabData{
    width: 100%;
    min-height: 100vh;
 } 

 .VideoTab{
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    padding-top: 3vh;
    gap: 5vh;
 }

 .videoTabItem{
    width: 19.477em;
    height: 35vh;
    column-span: 1;
    /* background-color: #000; */
 }

 .TweetTabContainer{
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    justify-content: center;
    padding: 2vh 30vw  0 10vh;
 }

 .PlaylistTab{
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    padding-top: 3vh;
 }
 
 .playlistTabItem{
    width: 19.477em;
    height: 35vh;
    column-span: 1;
 }

 .SubscriberTab{
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    padding-top: 3vh;
 }
 @media screen and (max-width: 600px) {
    .profileMain{
        padding: 6.5vh 0.1vh;
    }
    
    .coverImageContainer{
        /* height: 13vh; */
        width: 100%;
        aspect-ratio: 1546/423;
        border-radius: 5px;
    }

    .coverImageContainer img{
        height: 100%;
        /* object-fit: contain; */
    }
    
    .profileDataContainer{
        height: 20vh;
        border-radius: 5px;
        align-items: start;
    }

    .profileubscribeButton button{
        background-color: #333;
        color: #ededed;
        font-weight: 500;
        outline: none;
        border: none;
        border-radius: 30px;
        font-size: 1.2rem;
        height: fit-content;
        width: fit-content;
        padding: 0.8rem 2rem;
        text-align: center;
        cursor: pointer;
    }
    
    .profileImage{
        height: 75%;
        margin-left: 1vh;
    }
        
    .profileDetail{
        width: 90%;
        height: 100%;
        padding-left: 0;
    }
    
    .profileDetail h2{
        font-size: 3.5vh;
    }
    
    .profileDetail h5{
        font-size: 1.5vh;
        margin-bottom: 0.4vh;

    }
    
    .profileDetail h4{
        font-size: 2vh;
    }

    .profilePageList{
        width: 100%;
        height: auto;
        padding: 0;
        border-bottom: 1.5px solid #000;
        font-size: 1.9vh;
    }

    
    .profilePageList ul{
        padding: 0 0.5vh;
        width: 100%;
        gap: 1.2vh;
        justify-content: space-between;
    }
    
    .profilePageList ul{
        list-style: none;
        margin: 0;
        width: 30%;
        display: flex;
        justify-content: flex-start;
        gap: 2vh;
    }
    
    .profilePageList li{
        padding: 0.3vh 0;
    
    }
    
    .profilePageList li:hover{
        border-bottom: 2px solid #1f1f1f87;
    }
    
    
    .profilePageList ul li.active {
        border-bottom: 2px solid #000;
        font-weight: bold;
      }
    
     .TabData{
        width: 100%;
        min-height: 100vh;
     } 
    
     .VideoTab{
        width: 100%;
        min-height: 100%;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        place-items: center;
        padding-top: 1vh;
        gap: 0vh;
     }
    
     .videoTabItem{
        height: 42vh;
        width: 95vw;
     }

     .TweetTabContainer{
        width: 100%;
        min-height: 100%;
        display: flex;
        flex-direction: column;
        gap: 1vh;
        justify-content: center;
        padding:1vh 1vh;
     }
    
     .PlaylistTab{
        width: 100%;
        min-height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: nowrap;
        padding-top: 3vh;
     }
     
     .playlistTabItem{
        width: 19.477em;
        height: 35vh;
        column-span: 1;
     }
    
     .SubscriberTab{
        width: 100%;
        min-height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: nowrap;
        padding-top: 1vh;
        gap: 0.5vh;
     }

     
 }