.VideoUploadmain {
  width: 80vw;
  height: 80vh;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  box-shadow: #333 3px 5px 100px 0.5px;
  background-color: #fffefe;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.VU-head{
  width: 100%;
  height: 10vh;
  border-bottom: 1px solid black;
  /* background-color: aqua; */
}

.VU-Body{
  width: 100%;
  height: 100%;
  /* background-color: lightblue; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.VU-Body form{
  width: 100%;
  height: 100%;
  /* background-color: lightblue; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.VU-Form {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  /* background-color: yellowgreen; */
  padding: 2vh 5vh;

}

.VideoUploadmain h1 {
  font-size: 4vh;
  text-align: center;
  /* background-color: #fffefe; */
  padding: 2vh;
  width: fit-content;
}

.VU-Form label{
  font-size: 2.6vh;
  font-weight: 500;
  margin-bottom:0.8vh;
  /* background-color: rgb(142, 183, 66); */
}

.VU-Form  label:nth-child(3){
  font-size: 2.6vh;
  font-weight: 500;
  margin-bottom:0.8vh;
  margin-top: 4vh;
  /* background-color: rgb(142, 183, 66); */
}

.VU-Form  input{
  width: 80%;
  padding: 1vh;
  font-size: 2.2vh;
  font-weight: 500;
  border: 1px solid black;
  /* background-color: rgb(103, 153, 62); */
}

.VU-Form  textarea{
  width: 80%;
  height: 40vh;
  resize: vertical;
  padding: 1vh;
  font-size: 2.2vh;
  font-weight: 500;
  border: 1px solid black;
  /* background-color: rgb(103, 153, 62); */
}

.VU-Graphics {
  width: 60%;
  height: 100%;
  /* background-color: rgb(80, 85, 72); */
}

.VU-Graphics  .VU-btns{
  width: 100%;
  height: 15%;
  /* background-color: rgb(171, 205, 117); */
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 3vh;
}

.VU-Graphics  .VU-btns button{
  font-size: 2.5vh;
  font-weight: 500;
  padding: 2vh 8vh;
  background-color: #e93030;
  color: #fffefe;
  border-radius: 50px;
  /* border: 1px solid black; */
  border: none;
}

.VU-Graphics  .VU-btns button.CancelBtn{
  font-size: 2.5vh;
  font-weight: 500;
  padding: 2vh 8vh;
  background-color: #333;
  color: #fffefe;
  border-radius: 50px;
  /* border: 1px solid black; */
  border: none;
  margin-right: 2vh;
}

.VU-Graphics  .VU-btns button:active{
  font-size: 2.5vh;
  font-weight: 500;
  padding: 1.9vh 7.9vh;
  background-color: #fffefe;
  color: #333;
  border-radius: 50px;
  border: 1px solid black;
}

.VU-imageHolder {
  width: 100%;
  height: 85%;
  /* background-color: aqua; */
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top:2vh;
  gap: 2vh;
}

.VU-VideoContainer {
  width: 70%;
  height: 39%;
  border: 1px solid black;
  border-radius: 10px;

}

.afterVideoUpload{
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.afterVideoUpload video{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.beforeVideoUpload{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  gap: 2vh;
}
.beforeVideoUpload img {
  width: 30%;
  height: 51%;
  object-fit: cover;
}

.VU-ThumbnailContainer {
  background-color: #fffefe;
  width: 70%;
  height: 39%;
  border: 1px solid black;
  border-radius: 10px;

}

.afterUpload{
  width: 100%;
  border-radius: 10px;
  height: 100%;
}
.beforeUpload{
  width: 100%;
  border-radius: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vh;
}

.afterUpload img{
  width: 100%;
  border-radius: 10px;
  height: 100%;
  object-fit: cover;
}

.beforeUpload img {
  width: 30%;
  height: 51%;
  object-fit: cover;
}

.VU-files {
  display: none;
}
