.video-filter-component{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: rgb(217, 137, 33); */
}

.video-filter-component h2{
  font-size: 1.5rem;
  font-weight: 600;
}

.filter-actions{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.filter-sortBy{
  width: fit-content;
  margin-right: 3rem;
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2vw;
}

.filter-sortBy label{
  font-size: 1.1rem;
}

.filter-sortBy select{
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #f3f3f3;
  font-size: 1rem;
}

.filter-sortBy option{
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #eeeeee;
  font-size: 1rem;
}

.filter-toggle{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.pagination{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.2rem;
}

.pagination button{
  /* height: 100%; */
  width: 2rem;
  aspect-ratio: 1/1;
  font-size: 1.2rem;
  font-weight: 600;
  background-color: #f3f3f3;
  border-radius: 1.5rem;
}

.pagination .page-number{
  /* height: 100%; */
  width: 2rem;
  aspect-ratio: 1/1;
  font-size: 1.2rem;
  font-weight: 600;
  background-color: #f3f3f3;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.5rem;
}

@media  screen and (max-width : 600px) {
  .video-filter-component{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2vh;
    /* background-color: rgb(217, 137, 33); */
  }
  
  .video-filter-component h2{
    font-size: 1.3rem;
  }
  
  .filter-sortBy{
    width: fit-content;
    margin-right: 0rem;
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2vw;
  }
  
  .filter-sortBy label{
    font-size: 1rem;
  }
  
  .filter-sortBy select{
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    background-color: #f3f3f3;
    font-size: 1rem;
  }
  
  .filter-sortBy option{
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    background-color: #eeeeee;
    font-size: 1rem;
  }
  
  .filter-toggle{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    border-radius: 0.5rem;
    cursor: pointer;
  }
  
  .pagination{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0.2rem;
  }
  
  .pagination button{
    /* height: 100%; */
    width: 2rem;
    aspect-ratio: 1/1;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: #f3f3f3;
    border-radius: 1.5rem;
  }
  
  .pagination .page-number{
    /* height: 100%; */
    width: 2rem;
    aspect-ratio: 1/1;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.5rem;
  }
}