@font-face {
  font-family: Enwallowify-Medium;
  src: url(./assets/fonts/Enwallowify-Regular.woff) format('woff'),
       url(./assets/fonts/Enwallowify-Regular.ttf) format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Enwallowify-Regular",sans-serif;
}

.app-main{
  position: relative;
  height: 6.5vh;
  display: flex;
  /* overflow-x: hidden; */
}

.header{
  position: fixed;
  height: 6.5vh;
}

.appMain{
  width: 100%;
  height: auto;
}