@import "tailwindcss";

@font-face {
  font-family: Enwallowify-Medium;
  src: url(./assets/fonts/Enwallowify-Regular.woff) format('woff'),
       url(./assets/fonts/Enwallowify-Regular.ttf) format('truetype');
}

* {
  margin: 0;
  padding: 0 0;
  box-sizing: border-box;
  font-family: "Enwallowify-Regular",sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  max-width: 2100px;
  background-color: #fffefe;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}


:root {
  --primary-color: #3498db;
  --secondary-text-color: #fffefe;
  --text-color: #333333;
  --background-color:rgb(43, 19, 10);
}
